* {
	margin: 0;	
	padding: 0;
}
body {
	background-color: grey;
}
#wrapper {
	padding-top: 20px;	
}
#card {
	background-color: #fff;
	height: 160px;
	width: 280px;	
	margin: 0 auto;
	border-radius: 5px;	
	margin-bottom: 20px;	
}
.card_name {
	margin-top: 46px;	
	margin-left: 20px;	
}
#title {
	text-align: center;	
}
input {
	width: 230px;
	margin-left: 20px;	
	padding-left: 10px;	
	margin-top: 40px;
}